.env
playwright_test.py
playwright_test2.py 
playwright_dexel.py
playwright_bythjul.py
NationalTyreExtractor.py
test_curl.py
test_playwright.py
geckodriver.exe
example.png
captcha.png
dexelscraper.py
postcodes.json